{% extends 'base.html' %}
{% block title %}{{address}}{% endblock title %}
{% block content %}





{% for c in card %}


<style>

    #map {
    height: 360px;
    width: 520px;
     }
    .text{
        font-size: 24px;
        color:#AA4E41;
    }
</style>



<div class="responsive-two-column-grid">


    <div>
        <p class="text">Адрес: {{c.address}}</p>
        <br>
        <p class="text">Номер телефона: {{c.phone|safe}}</p>
        <br>
        <p class="text">График работы для сотрудников:</p>
        <br>
        <p class="text">{{c.work_schedule|safe}}</p>
    </div>
    <div>
         <div id="map"></div>

    </div>
</div>




<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="">

    </script>

<script type="text/javascript">
    var lat = "{{c.lat}}"
    var long = "{{c.long}}"

    var map = L.map('map',{ attributionControl:false }).setView([long, lat], 16);
var marker = L.marker([long, lat]).addTo(map);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,

    }).addTo(map);

</script>
{% endfor %}

{% endblock %}